pipeline/source_sink_match.json
{
	"name": "source_sink_match",
	"properties": {
		"activities": [
			{
				"name": "Get Source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Param_Folder_Level",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "raw",
							"p_folder": "raw_gold_data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Sink",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Param_Folder_Level",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "raw",
							"p_folder": "raw_gold_data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterMissingFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Source",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Sink",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Source').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(activity('Get Sink').output.childItems,item()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachIterationOfFilter",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterMissingFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterMissingFiles').output.Values",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"annotations": []
	}
}